* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: yellowgreen;
}

.w ul li {
    list-style: none;
    /* background-color: springgreen; */
    float: left;
    margin-left: 10px;
}

.w ul li a {
    text-decoration: none;
    font-size: 40px;
    line-height: 66px;
}

.w .logo {
    float: left;
    height: 66px;
}

.w ul li:hover {
    color: yellow;
    border-bottom: 1px solid black;
}

.search {
    float: left;
    /* background-color: slategrey; */
    margin-left: 50px;
}

.search input {
    float: left;
    width: 137px;
    height: 60px;
    border: 3px solid blue;
    border-right: 0;
    /* background-color: blue; */
    font-size: 10px;
    padding-left: 20px;
}

button {
    float: left;
    width: 66px;
    height: 66px;
    border: 0;
    /* button默认有边框,此处为了美观去掉了边框 */
    background: url(../media_resourcing/search.png);
    background-size: 66px 66px;
}
.background-color{
    background: black;
}
.background-color .banner{
    height: 420px;
    width:1200px;
    margin: 0 auto;
    background-color: yellow;

}
.background-color .banner .hz1{
    float: left;
}
.background-color .banner .hz1 ul li {
    padding-left: 10px;
    border-bottom: 1px solid aliceblue;
    list-style:none;
    height: 69px;
    line-height: 70px;
    width: 100px;
}

.background-color .banner .hz1 ul li span{
    float: right;
}
.background-color .banner .hz1 ul li a {
text-decoration: none;
}
.background-color .banner .hz2 {
    height: 100px;
    width: 100px;
    background-color: red;
    float: right;
    margin-top: auto;
}